.full-layout {
  min-height: 100vh;
  background: #fff;
  overflow-x: hidden;
  position: relative;
  min-width: 186%; 
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  padding: 0 2rem;
  height: 64px;
  box-shadow: 0 4px 12px #00000029;
  position: relative;
  z-index: 1;
  flex-wrap: wrap;
}

.logo {
  font-weight: 600;
  font-size: 18px;
}

.nav-menu {
  flex: 1;
  display: flex;
  justify-content: center;
  background: transparent;
  border-bottom: none;
  margin-left: 2rem;
}
.create-btn {
  width: 160px; 
  height: 40px;
  line-height: 40px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #000;
  color: white;
  margin-right: 1rem;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 80px 20px;
  background: #fff;
  min-height: calc(100vh - 64px);
  position: relative;
  z-index: 1;
  background-image: url('/src/Assets/circle.jpg');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 820px;
  margin-top: 1rem;
  overflow: hidden;
}

.hero-title {
  font-size: 2rem;
  font-weight: 700;
  max-width: 90%;
  margin-bottom: 20px;
}

.hero-desc {
  font-size: 1rem;
  margin-bottom: 30px;
}

.search-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  max-width: 100%;
  width: 55%;
  padding: 0 1rem;
  margin-left: -1rem;
}

.search-input {
  flex: 1 1 300px;
  max-width: 776px;
  height: 55px;
  border-radius: 100px;
  padding: 0 1rem;
  box-sizing: border-box;
}

.search-btn {
  background-color: #000;
  color: #fff;
  border: none;
  height: 55px;
  padding: 0 2rem;
  border-radius: 200px;
  cursor: pointer;
  margin-left: -11rem;
  white-space: nowrap;
}

.search-btn:hover {
  background-color: #222;
}

.nav-menu-item {
  margin-right: 80px;
  font-size: 17px;
}


.sachin{

  background-color: blue;
  color: white;
  margin-left: 12rem;
  margin-top: 12rem;
}