.signin-container {
  height: 100vh;
}

.left-panel {
  background-color: #f0f2f5;
}

.right-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.form-wrapper {
  width: 100%;
  max-width: 400px;
}

.inputs {
  height: 40px;
}

.verifybtn {
  background-color: #0b1117;
  color: white;
  height: 40px;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


